{% extends "layout.html" %}

{% block title %}
  <title>Crash</title>
{% endblock %}

{% block heading %}
  <h1>Crashes Page</h1>
{% endblock %}

{% block dropdown %}
    <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">Damage Factor<i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <a href="#info" class="w3-bar-item w3-button">Small</a>
            <a href="#locations" class="w3-bar-item w3-button">Medium</a>
            <a href="#minimap" class="w3-bar-item w3-button">Large</a>
            <a href="#minimap" class="w3-bar-item w3-button">Extreme</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Work Row -->
    {% block section1 %}
    <table>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Name1</td>
          <td>Location1</td>
          <td>Date1</td>
        </tr>
        <tr>
          <td>Name2</td>
          <td>Location2</td>
          <td>Date2</td>
        </tr>
      </table>
    {% endblock %}

    {% block section2 %}
    
    {% endblock %}

    {% block section3 %}
        
    {% endblock %}

{% endblock %}