{% extends "layout.html" %}

{% block title %}
  <title>Location</title>
{% endblock %}

{% block heading %}
  <h1>Locations Page</h1>
{% endblock %}

{% block dropdown %}
    <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">Damage Factor<i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <a href="#minor" class="w3-bar-item w3-button">Minor</a>
            <a href="#mid" class="w3-bar-item w3-button">Mid-Range</a>
            <a href="#major" class="w3-bar-item w3-button">Major</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Work Row -->
    {% block section1 %}
      <table id="minor">
        <tr>
          <th style="width: 400px;">Crash ID</th>
          <th>Severity</th>
          <th>Suburb</th>
          <th>Date Recorded</th>
        </tr>
        <h2 class="w3-center">Minor Damage</h2>
        {% for row in getmapdata %}
          {% if row[1] == "Property damage only" or row[1] == "Minor injury" %}
            <tr>
              <td><a class="w3-button w3-padding-small w3-border w3-border-teal" href="locationList/{{row.id}}">{{ row[0] }}</a></td>
              <td>{{ row[1] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[4] }} {{ row[3] }}/{{ row[2] }}</td>
              <!-- <td>{{ row[5] }} {{ row[4] }}/{{ row[3] }}</td> -->
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endblock %}

    {% block section2 %}
      <table id="mid">
        <tr>
          <th style="width: 400px;">Crash ID</th>
          <th>Severity</th>
          <th>Suburb</th>
          <th>Date Recorded</th>
        </tr>
        <h2 class="w3-center">Mid-Range Damage</h2>
        {% for row in getmapdata %}
          {% if row[1] == "Medical treatment" %}
            <tr>
              <td><a class="w3-button w3-padding-small w3-border w3-border-teal" href="locationList/{{row.id}}">{{ row[0] }}</a></td>
              <td>{{ row[1] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[4] }} {{ row[3] }}/{{ row[2] }}</td>
              <!-- <td>{{ row[5] }} {{ row[4] }}/{{ row[3] }}</td> -->
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endblock %}

    {% block section3 %}
      <table id="major">
        <tr>
          <th style="width: 400px;">Crash ID</th>
          <th>Severity</th>
          <th>Suburb</th>
          <th>Date Recorded</th>
        </tr>
        <h2 class="w3-center">Major Damage</h2>
        {% for row in getmapdata %}
          {% if row[1] == "Fatal" or row[1] == "Hospitalisation" %}
              <tr>
                <td><a class="w3-button w3-padding-small w3-border w3-border-teal" href="locationList/{{row.id}}">{{ row[0] }}</a></td>
                <td>{{ row[1] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[4] }} {{ row[3] }}/{{ row[2] }}</td>
                <!-- <td>{{ row[5] }} {{ row[4] }}/{{ row[3] }}</td> -->
              </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endblock %}
{% endblock %}